html,
body {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #fc5c7d 0%, #6a82fb 100%);
  margin: 0;
  padding: 0;
  object-fit: fill;
  object-fit: fill;
  overflow: hidden;
}

.login-container {
  max-width: 300px;
  margin: 50px auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  /* opacity: 80%; */
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #555;
}

.form-group input {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-sizing: border-box;
  background-color: #f9f9f9;
  transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.form-group input:focus {
  outline: none;
  border-color: #3f5efb;
  background-color: #eef2ff;
}

.form-group button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(135deg, #6a82fb, #fc5c7d);
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.form-group button:hover {
  background: linear-gradient(135deg, #fc5c7d, #6a82fb);
}

.login-container p {
  text-align: center;
  margin-top: 20px;
}

.login-container p a {
  color: #3f5efb;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
}

.login-container p a:hover {
  color: #fc5c7d;
  text-decoration: underline;
}

.login-container .register-link {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
}
